<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" required formControlName="email" />
      </div>
      <div *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid">
        <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.errors?.['required']"
          class="alert alert-danger" role="alert">
          Email is required
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" required formControlName="password" />
      </div>
      <div *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid">
        <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.errors?.['required']"
          class="alert alert-danger" role="alert">
          Password is required
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>